.individual_card {
	width: 100%;
	margin-left: 2vw;
	color: black;
	background-color: #ffffff;
	display: flex;
	height: 18vh;
	flex-direction: column;
	margin-bottom: 15px;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(166, 173, 201, 0.2);
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
}
.top_section {
	display: flex;
	flex-direction: row;
}

.column_name {
	font-family: "Times New Roman", Times, serif;
	color: rgb(0, 0, 0);
	font-weight: bold;
}
.field_value {
	font-family: "Times New Roman", Times, serif;
	color: rgb(0, 0, 0);
	font-weight: bold;
}
.bottom_section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.table_section {
	border: 0px;
	text-align: left;
	padding: 5px;
}
td {
	padding-right: 15px;
}
.left_section {
	line-height: 9px;
}
.right_section {
	margin-left: auto;
	line-height: 9px;
}
.links {
	font-family: "Times New Roman", Times, serif;
	color: teal;
	font-size: 15px;
}
.links:hover {
	color: rgb(0, 190, 190);
}

.individual_card:hover {
	background-color: #ececec;
}
