.chit_details_card {
	height: 80vh;
	overflow: scroll;
}
.add_members {
	display: flex;
	flex-direction: column;
}
.add_top_section {
	display: flex;
	flex-direction: row;
}
.chit_details_card::-webkit-scrollbar {
	display: none;
}

.dropdown {
	width: 50%;
	margin-left: 5vw;
	margin-right: 2vw;
}
.btn_add {
	width: 25%;
	padding: 4px;
	height: 5.2vh;
}
